/* cyrillic */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), src: local('Press Start 2P'), local('PressStart2P-Regular'), url(assets/start.ttf) format('ttf');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), src: local('Press Start 2P'), local('PressStart2P-Regular'), url(assets/start.ttf) format('ttf');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), src: local('Press Start 2P'), local('PressStart2P-Regular'), url(assets/start.ttf) format('ttf');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(assets/start.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body{
    width : 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display:flex;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
}

.flex {
    flex: 1;
}

.text-over{
    text-align: center;
    margin-top: 25%;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.grid {
    flex: 1;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction: column;
    color: white;
    margin: 5px;
    border-radius: 25%;
}
/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(assets/handwriting.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.letter {
    font-size: 1.5em;
    position: absolute;
    z-index: 5;
    width: 50%;
    font-family: 'Indie Flower';
    margin-top: 15%;
    color: black;
    padding: 25px;
      margin-left: 25%;
    background-color: antiquewhite;
    border: 5px solid black;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotateZ(8deg);
}

.hbox {
    display: flex;
}

.special .menu {
    background-color: green;
    overflow: auto;
}

.menu {
    background: blue;
    border: 5px solid #ffffff;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.menu .option {
    color: white;
    padding: 5px;
    cursor: pointer;
    padding-left: 25px;
}

.home {
    background-image: url(./assets/bg-home.png);
    background-position: center;
    background-repeat:no-repeat;
}
.game_over {
    background-image: url("assets/bg-game-over.png");
    background-position: bottom;
    background-repeat:no-repeat;
}
.passed-out {
    background-image: url("assets/bg-passed-out.png");
        background-position: center;
    background-repeat:no-repeat;
}
.bar {
    background-image: url(./assets/bg-bar.png);
    background-position: center;
    background-repeat:no-repeat;
}
.school {
    background-image: url(./assets/bg-school.png);
    background-position: center;
}
.store {
    background-image: url(./assets/bg-store.png);
    background-position: center;
}
.work {
    background-image: url(./assets/bg-work.png);
    background-position: center;
    background-repeat:no-repeat;
}


.text-center {
    text-align: center;
}

.menu .option:hover {
    color: yellow;
    padding-left: 5px;
}

.center {
    align-items: center;
}

.fill {
    height: 100%;
}

h3 {
    font-size: .8em;
}
.degree .fill {
    background-color: green;
}
.happiness .fill {
    background-color: yellow;
}

.health .fill {
    background-color: red;
}
.time .fill {
    background-color: lightblue;
}
.menu .option:hover:before {
    display: block;
    content: ">";
    width: 20px;
    font-weight: bold;
}

.resource {
    width: 300px;
}

.resource h3 {
    flex: 1;
}
.grid.grid-home {
    background-image: url("assets/grid-house.png");
}
.grid.grid-bar {
    background-image: url("assets/grid-bar.png");
}
.grid.grid-school {
    background-image: url("assets/grid-school.png");
}
.grid.grid-store {
    background-image: url("assets/grid-store.png");
}
.grid.grid-work {
    background-image: url("assets/grid-work.png");
}

.grid {
    background-image: url("assets/grid-street.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


@-webkit-keyframes sepia {
    0% { -webkit-filter: sepia(.8); }
    100% { -webkit-filter: sepia(.3); }
}
.grid.moveable {
    -webkit-animation: sepia .8s infinite alternate;
    cursor: pointer;
}
.grid.moveable:hover {
    -webkit-filter: sepia(1.0);
}
@-webkit-keyframes step {
    100% { background-position: -192px; }
}


.grid .player {
    -webkit-filter: brightness(2);
    background-image: url("assets/player.png");
    width: 64px;
    height: 64px;
    -webkit-animation: step .8s steps(3);
}


.rbar {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: black;
}
.resources {
    margin: 10px;
    background: rgba(255,255,255, 0.4);
    border: 5px solid white;
    color: white;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
}

.events {
    margin: 10px;
    background: rgba(255,255,255, 0.4);
    border: 5px solid white;
    color: white;
    border-radius: 15px;
    line-height: 20px;
    height: 20px;
    padding: 5px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.title {
    text-align:center;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
