html,body{
    width : 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display:flex;
    padding: 0px;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
}

.flex {
    flex: 1;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.grid {
    flex: 1;
    color: white;
    border: 2px solid white;
}

.hbox {
    display: flex;
}
.menu {
    background: blue;
    border: 5px solid white;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
}

.menu .option {
    color: white;
    padding: 5px;
    cursor: pointer;
    padding-left: 20px;
}

.menu .option:hover {
    color: yellow;
    padding-left: 5px;
}

.menu .option:hover:before {
    display: block;
    content: ">";
    width: 15px;
    font-weight: bold;
}
